</div>
<br><br><br>
<hr>
<p class="text-center">&copyRight cmsshopping</p>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"</script>


</html>